<!doctype html>
<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
		<a href="/graph">Graph!</a>
		<a href="/live">LIVE!</a>
		<a href="/search">Search!</a>
		
<div class=page>
  {% block body %}{% endblock %}
</div>
</body>