<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />

</head>
<!--<body style="background-image: url({{ url_for('static', filename='img/deeplearning.jpg') }})">-->
    <body>
{% extends "layout.html" %}
{% block body %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                // Use a "/live_camera" namespace.
                // An application can open a connection on multiple namespaces, and
                // Socket.IO will multiplex all those connections on a single
                // physical channel. If you don't care about multiple channels, you
                // can set the namespace to an empty string.
                namespace = '/search';
    
                // Connect to the Socket.IO server.
                // The connection URL has the following format:
                //     http[s]://<domain>:<port>[/<namespace>]
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    
    
                // Event handler for server sent data.
                // The callback function is invoked whenever the server emits data
                // to the client. The data is then displayed in the "Received"
                // section of the page.
                socket.on('my_response', function(msg) {
                    $('#log').append('<br>' + $('<div/>').text('Received : ' + msg.time_detect).html());
                    console.log(msg.time_detect)
                    console.log(msg.face_image)

                    $('#myImg').empty(); //ทำให้ id นี้ว่าง
                    msg.face_image.forEach(function(val, i) {
                        console.log(val);
                        $('#myImg').append('<img src=' + val + '>'); // เพิ่มรูปใน ID myTmg
                    });

                    $('#myTime').empty();
                    msg.time_detect.forEach(function(val){
                        $('#myTime').append(val+'<br>')
                    });
                    //time_detect = msg.time_detect.slice(1, -1).split(",").map(Number)
                    //time_detect.forEach((item, i) => time_detect[i] = new Date(item));
    
                    //all_rows = []
                    //for(t=0; t<time_detect.length; t++){
                    //    all_rows.push([t, 1, undefined, undefined])
                    // }
                    //console.log(all_rows)
                });
    
    
                // Handlers for the different forms in the page.
                // These accept data from the user and send it to the server in a
                // variety of ways
                $('form#emit').submit(function(event) {
                    socket.emit('my_event', {keyword: $('#keyword').val()});
                    $('#send').empty();
                    $('#send').append('<br>' + $('<div/>').text(" Search : "+$('#keyword').val()).html());
                    return false;
                });
    
            });
        </script>
    
    <!--<h1>Flask-SocketIO Test SEND</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="number" name="keyword" id="keyword" placeholder="Message">
        <input type="submit" value="Search">
    </form>-->

    <section class="d-flex text-center">
        <div class="container d-flex justify-content-center">
          <div class="row align-items-center justify-content-center">
            <div class="col-10">
              <h1>Flask-SocketIO Test SEND</h1>
              <p text-align: center;>Async mode is: <b>{{ async_mode }}</b></p>
              <h2 text-align: center;>Send:</h2>
              
              <form id="emit" method="POST" action='#'>
                <input class="input100" type="text" name="keyword" id="keyword" STYLE="background-color: #FFFFFF;" placeholder="Message">
                <input type="submit" value="Search">
              </form>
                
              Search 
                <div id="send"></div>
                <h2>Receive:</h2>
                <div id="log"></div>
                <div id="myImg"></div>
                <div id="myTime"></div>
                {% endblock %}
            </div>
          </div>
        </div>
      </section>


<h1 text-align: center;>Flask-SocketIO Test SEND</h1>
<p text-align: center;>Async mode is: <b>{{ async_mode }}</b></p>
<h2 text-align: center;>Send:</h2>

<form id="emit" method="POST" action='#'>
<input class="input100" type="text" name="keyword" id="keyword" STYLE="background-color: #FFFFFF;" placeholder="Message">
<input type="submit" value="Search">
</form>
                        
Search 
<div id="send"></div>
<h2>Receive:</h2>
<div id="log"></div>
<div id="myImg"></div>
<div id="myTime"></div>
{% endblock %}

<!-- JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
